{{- $paginator := .Paginator -}}
{{- $scratch := newScratch -}}
<!-- custom smart pagination -->
{{- $offsetLinks := 2 -}}
{{- $maxLinks := (add (mul $offsetLinks 2) 1) -}}
{{- $lowerLimit := (add $offsetLinks 1) -}}
{{- $upperLimit := (sub $paginator.TotalPages $offsetLinks) -}}
{{- if gt $paginator.TotalPages 1 -}}
<div class="pagination">
  {{- if ne $paginator.PageNumber 1 -}}
  {{- if $paginator.HasPrev -}}
  <div class="pag-previous">
    <a href="{{ $paginator.Prev.URL }}">&lt;</i></a>
  </div>
  &nbsp;
  {{- end -}}
  {{- end -}}
  {{- range $paginator.Pagers -}}
  {{- $scratch.Set "pageNumFlag" false -}}
  {{- if gt $paginator.TotalPages $maxLinks -}}
  {{- if le $paginator.PageNumber $lowerLimit -}}
  {{- if le .PageNumber $maxLinks -}}
  {{- $scratch.Set "pageNumFlag" true -}}
  {{- end -}}
  {{- else if ge $paginator.PageNumber $upperLimit -}}
  {{- if gt .PageNumber (sub $paginator.TotalPages $maxLinks) -}}
  {{- $scratch.Set "pageNumFlag" true -}}
  {{- end -}}
  {{- else -}}
  {{- if and ( ge .PageNumber (sub $paginator.PageNumber $offsetLinks) ) ( le .PageNumber (add $paginator.PageNumber $offsetLinks) ) -}}
  {{- $scratch.Set "pageNumFlag" true -}}
  {{- end -}}
  {{- end -}}
  {{- else -}}
  {{- $scratch.Set "pageNumFlag" true -}}
  {{- end -}}
  {{- if eq ($scratch.Get "pageNumFlag") true -}}
  <div class="pag-item{{ if eq . $paginator }} pag-current{{ end }}">
    <a href="{{ .URL }}">{{- .PageNumber -}}</a>&nbsp;
  </div>
  {{- end -}}
  {{- end -}}

  {{- if $paginator.HasNext -}}
  <div class="pag-next">
    <a href="{{ $paginator.Next.URL }}">&gt;</a>
  </div>
  {{- end -}}
</div>
{{- end -}}


<!-- {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) -}} -->
<!-- <nav class="pager"> -->
<!-- {{ if .Paginator.HasPrev -}} -->
<!-- <a href="{{ .Paginator.Prev.URL }}" rel="prev" class="pager-item pager-prev">Prev</a> -->
<!-- {{ end -}} -->

<!-- {{ if .Paginator.HasNext -}} -->
<!-- <a href="{{ .Paginator.Next.URL }}" rel="next" class="pager-item pager-next">Next</a> -->
<!-- {{ end -}} -->
<!-- </nav> -->
<!-- {{ end -}} -->
