.entry-header h2 {
  color: #bd93f9;
}

body.dark .logo a {
  color: #50fa7b;
}

body:not(.dark) .logo a {
  color: #ff50bc;
}

.entry-footer,.post-meta {
  font-style: italic;
  font-size: 10px;
  text-align: right;
}

.post-entry {
  border-radius: 15px;
}

.post-title {
  color: #bd93f9;
}

body.dark .post-content a {
  color: cyan;
}

.nav {
  justify-content: space-evenly;
  text-align: center;
}

body.dark #menu span {
  color: cyan;
}
#menu span {
  text-decoration: underline;
}

html, body {
  font-family: "JetBrains Mono", monospace;
}
